@import "../../Global.scss";
$bannerHeight : 400px;

.about {
    height: auto !important;
    color: white;
    overflow: auto;
    background: rgb(0, 0, 0);

    @include mobile {
        margin-bottom: 100px;
    }



    .about-header {
        width: 100%;
        //height: $bannerHeight;
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;


        img {
            width: 100%;
        }


        h1,
        h3,
        p {
            text-align: center;
            font-family: 'Jura' !important;
        }

        h1 {
            font-size: 5rem;

            @include mobile {
                font-size: 3rem;
            }
        }

        p {
            font-size: 2rem;

        }
    }


}

.skills {
    flex-wrap: wrap;
    color: white;
    margin: 5px auto;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    border-radius: 12px;
    padding: 12px;
    margin-bottom: 100px;

    h3 {
        text-align: center;
        font-family: 'Jura' !important;
    }

    .list-box {
        flex-grow: 1;
        min-width: 224px;
        margin: 12px;
        border-top: 1px solid white;
        padding: 12px;

        li {
            font-family: 'Jura' !important;
        }
    }
}



.social-links {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    flex-wrap: wrap;
    margin: 17px auto;
    align-items: flex-start;

    @include mobile {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        z-index: 5;
    }

    .item {
        flex: auto;
        margin: 9px;

        a {
            cursor: pointer;
            margin-right: 7px;
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: inherit;
            text-decoration: none;
            position: relative;


            span {
                padding: 4px;
                text-decoration: none;
                font-size: 15px;
                font-family: 'Jura' !important;

                @include mobile {
                    display: none;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                width: 40px;
                height: 40px;
                padding: 5px;
                border-radius: 50%;
                background-color: #ffffff;
                background: #e2ebf1;

                color: black;

                &:hover {
                    background: #adb5ba;
                }

                &.linkedin {
                    color: rgb(39, 102, 249);
                }

                &.whatsapp {
                    color: rgb(44, 164, 68);
                }

                svg {
                    font-size: 30px;

                }
            }
        }

    }

}