@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  padding-bottom: 20px;
  //for background image
  background-image: linear-gradient(rgba(0, 0, 0, 0.885), rgba(0, 0, 0, 0.822)), url('../../banner.jpg');
  background-position: center;
  background-size: 100%;
  color: white;

  @include mobile {
    background-size: auto 100%;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .left {
    flex: 1.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    @include mobile {
      padding: 10px;
      h3, h2 {
        display: none;
      }
    }

    p {
      font-size: 1rem;
      text-align: right;
      line-height: 1.6;
      padding: 20px;
    }



    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;


      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }

  .right {
    flex: 1;
    // position: relative;

    @include mobile {
      flex: 1;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 60px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.arrow-down {
  transform: rotate(90deg);

}